 {{#each model as |author|}}
		<div class="col s12">
		    <div class="card-panel grey lighten-5 z-depth-1">
		      <div class="row valign-wrapper">
		        <div class="col s2">
		          <img src="" class="circle responsive-img" class="circle responsive-img"> 
		        </div>
		        <div class="col s8">
		          <span class="black-text">
		            	{{author.fullName}}
		          </span>
		          <br>
		          <span class="grey-text">
		          		{{author.nickname}}
		          </span>
		        </div>
		        <div class="col s2">
		        	      <i class="material-icons more-vert">more_vert</i>
		        </div>
		      </div>
		    </div>
		</div>
{{/each}}