  {{!-- <div class="collection">
    <div class="avatar">
     <img class="circle responsive-img" src="http://ep00.epimg.net/elpais/imagenes/2015/09/09/tentaciones/1441784322_695647_1441784486_noticia_normal.jpg">      
    </div>
    <div class="book-author-positition">
        <p>Book Name</p>
        <a href="#!" class="collection-item"><span class="badge"></span>Author</a>
    </div>
  </div> --}}



{{#each model as |music-book|}}
		<div class="col s12">
				<div class="card-panel grey lighten-5 z-depth-1">
					<div class="row valign-wrapper">
						<div class="col s2">
								<img src={{music-book.imgUrl}} class="circle responsive-img"> <!-- notice the "circle" class --> 
							<div class="avatar">	
								
							</div>
						</div>
						<div class="col s8">
							<span class="black-text">
									{{music-book.title}}
							</span>
							<br>
							<span class="grey-text">
									{{music-book.author}}
							</span>
						</div>
						<div class="col s2">
							{{#link-to 'auth.book-edit' music-book.id}}
								<i class="material-icons edit">edit</i>					
							{{/link-to}}
						</div>
					</div>
				</div>
			
			</div>
{{/each}}	

<div class="fixed-action-btn">
	{{#link-to 'auth.book-add'}}
		 <a class="btn-floating btn-large waves-effect waves-light fixed-action-btn color"><i class="material-icons">add</i></a>
	{{/link-to}}
</div>